body {
    margin: 0;
}
#profile_pic{
    border-radius:50%;
    max-width: 20%;
    flex-basis: 20%;
    width:200px;
}

nav{
    width : 100%;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    display: circle;
} 

nav .navLinks{

    flex-basis: 80%;
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
ul{
    float: right;
    list-style-type: none;
    margin : 25px;
}
nav ul li a {
 display: inline-block;
 padding: 5px 20px;
 background-color:  #2b9c8d;
 border: 1px solid #ffffff;
 transition: 0.6s ease;
 flex-basis: 26%;

}
ul li a hover{
    background-color: #fff;
    color: #000;
}
li a {
      color:  #9ebfb3;
      text-decoration: none;
      font-size : 24px;

}
main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI','Times New Roman', Times, serif;
}
h1 {

    flex-basis: 100%;
}
hr{

    flex-basis:100%;
    margin: 6px;
    border-width: 6pt;
    border-radius: 9px;
    border-style: solid;
    color: #257da0;
    margin-bottom: 21px;

}
.contentArea {
   display : flex;
   flex-basis : 100%;
   margin: 30px 10px;
    
}
article {

    flex-basis: 75%;
}
aside {
    flex-basis:50%;

}
aside a {
      display: round;
    padding: 20px;
    text-align: center;
    border: 3px #445544 solid;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
    color:#db7414;
}
aside a.hover {
background-color: #2f2964;
}
section {
    display : flex;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: column;
}
section img{
     width: 51%;
}
.centerContent {
    text-align: center;

}
iframe {
    padding:20px;
}
footer {

    background-color: #bb3a3a;
    width : 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footerText {
      padding : 20px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: 24px;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    padding: 20px;
    justify-content: center;
}
form label1, input[type="text"],input[type="email"], textarea {
          margin : 5px;
          padding: 10px;
          resize : none;
          flex-basis : 45%;
}
form label1 {
    text-align:right;
}        
form input[type="submit"]{
    border:none;
    background-color: blueviolet
     padding 16px 75px;
     text-align: center;
     color: whitesmoke;
     text-transform: uppercase;
     margin-left: 45%;

}
#contact_heading {
text-align: center;
flex-basis: 100%;

}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px skyblue;

}
 th, td{
     padding: 10px;
 }

@media only screen and (max-width: 768px){}
nav {
    flex-wrap : wrap;
    justify-content: center;
}
 #profile_pic {
     flex-basis: 100%;

 }
.navLinks {
    flex-basis: 100%;
    flex-wrap: wrap;

}
.navLinks li {
    flex-basis: 100%;
}
aside {
    flex-basis : 100%;
}
article {
    flex-basis: 100%;
}
.contentArea {
    flex-direction: column-reverse;

}
form {
     flex-basis : 100%;
}
















