
    body{
        margin: 0;
        background-size :100% 200%;
        background-repeat :no-repeat;
        width: 100%;
     position: relative;
}
img{
    border-radius: 50%;
    width: 300px;
    height: 300px
}
#main_header{

    font-family: Arial;
    text-align: center;
    font-size: 35px;
}

nav{
    width : 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
} 

nav .navLinks{

    flex-basis: 80%;
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
ul{
    margin: 0px;
    padding :0px;
    list-style: none;
}
 nav ul li  {
     display : inline-block;
 background-color:  #2b9c8d;
 padding: 10px;
 flex-basis: 28%;
 width : 400px;
 height :50px;
 opacity: .8;
 line-height : 60px;
 text-align: center;
 font-size: 40px;

}
ul li a {
      color:  #9ebfb3;
      text-decoration: none;
      display : inline block;
}
ul li a:hover{
    background-color: green;
}
main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI','Times New Roman', Times, serif;
}
h1 {

    flex-basis: 100%;
}
hr{

    flex-basis:100%;
    margin: 6px;
    border-width: 8px;
    border-radius: 9px;
    border-style: solid;
    color: #257da0;
    margin-bottom: 21px;

}
.contentArea {
   display : flex;
   flex-basis : 100%;
   margin: 30px 10px;
    
}
article {

    flex-basis: 75%;
}
aside {
    float: basis 25%;

}
aside a {
      display: block;
    padding: 20px;
    text-align: center;
    border: 3px #445544 solid;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
    color:#db7414;
}
aside a.hover {
background-color: #2f2964;
}
section {
    display : flex;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: column;
}
section img{
     width: 51%;
}
.centerContent {
    text-align: center;

}
iframe {
    padding:20px;
}
footer {

    background-color: #bb3a3a;
    width : 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footerText {
      padding : 20px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: 24px;

}
form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    padding: 20px;
    justify-content: center;
}
form label1, input[type="text"],input[type="email"], textarea {
          margin : 5px;
          padding: 10px;
          resize : none;
          flex-basis: 45%;
}
form label1 {
    text-align:right;
}        
form input[type="submit"]{
    border:none;
    background-color: blueviolet
     padding 16px 75px;
     text-align: center;
     color: whitesmoke;
     text-transform: uppercase;
     margin-left: 45%;

}
#contact_heading {
text-align: center;
flex-basis: 100%;

}
table {
    border-collapse: collapse;
}
table, th, td  {
    border: 1px solid skyblue;

}
 th, td{
     padding: 10px;
 }

@media only screen and (max-width: 768px){}
nav {
    flex-wrap : wrap;
    justify-content: center;
    
 }

 
.navLinks {
    flex-basis: 100%;
    flex-wrap: wrap;

}
.navLinks li {
    flex-basis: 100%;
}
aside {
    flex-basis : 100%;
}
article {
    flex-basis: 100%;
}
.contentArea {
    flex-direction: column-reverse;

}
form {
     flex-basis : 100%;
}


input[type=text], textarea {
    width: 100%;
    padding: 12px 30px;
    border: none rgb(4, 30, 59);
    border-radius: 24px;
    box-sizing: border-box;
    margin: 6px 0 16px 0;
    resize: vertical;
}
input[type=submit] {
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 15px 45px;
    border: none black solid;
    cursor: pointer;
    border-radius: 24px;
    cursor: pointer;
}
input[type=submit]:hover {
    
    background-color: crimson;
}
textarea {
    height: 150px;
}
.container {
    padding : 0 20% 3% 20%;
}

label {
    margin-left: 30px;
    flex-basis: 100%;
    border:1px solid blue
    background-color purple;
    color: green;
    padding:0 0 10px 0;
    font-size: 20px;
}
